.ios.device-phone-x #app {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  }

@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Framework7Icons-Regular.eot");
  src: local('Framework7 Icons'),
     local('Framework7Icons-Regular'),
     url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
     url("../fonts/Framework7Icons-Regular.woff") format("woff"),
     url("../fonts/Framework7Icons-Regular.ttf") format("truetype");
}

.f7-icons, .framework7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

div#scontainer {
height:125px;
}
div.swiper-container {
height:100%;
}
img.slideShowImg {
height:100%;
}
img.productSlideShowImg {
width:100%;
}
.ios .block-title {
margin:15px 15px 10px;
}
.ios .list {
margin:unset;
}
div#frontNewsListing {
overflow:scroll;
height:35%;
}
div.restaurant-img {
height:315px !important;
}
body{
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}
.toolbar-footer{
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
}
div.loginWarning {
line-height: 60px;
text-align: center;
}
.fading {
    -webkit-animation-duration: 5s;
    -webkit-animation-name: fading;
    animation-duration: 5s;
    animation-name: fading;
}
@-webkit-keyframes fading {
    from {
        color: red;
    }
    to {
        color: black;
    }
}
@keyframes fading {
    from {
        color: red;
    }
    to {
        color: black;
    }
}
div.left {
width: 44px;
}

div.popup-page-title {
line-height:40px;
text-align:center;
}

div.spacer20 {
margin-top:20px;
}

div.page-content {
background-color:white;
}

input.leftMenuSearch {
width: 100%;
border: 1px dotted gray;
line-height: 40px;
padding-left: 10px;
margin-bottom: 5%;
padding-left: 10px;
}

div#leftmenu {
margin:15px 0;
}


div#userGreeting, div#loginText {
color:black;
}

div#loginText {
color:black;
}

div#registerMessage{
text-align: center;
margin-top: 10px;
color: darkred;
}

div.profileHeader {
height:200px;
background-color:#F1C40F;
vertical-align: bottom;
}

 .profileHeader {
  position: relative;
}

div#profileHeaderPic {
width:100%;
position: absolute;
bottom: 0;
text-align:center;
}

img.profilePic {
border-radius: 50%;
margin-bottom: 5%;
border: 1px solid darkgoldenrod;
}