    /*
    Flaticon icon font: Flaticon
    Creation date: 10/01/2017 08:52
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-alarm-clock:before { content: "\f100"; }
.flaticon-avatar:before { content: "\f101"; }
.flaticon-battery:before { content: "\f102"; }
.flaticon-blog:before { content: "\f103"; }
.flaticon-calendar:before { content: "\f104"; }
.flaticon-capitol:before { content: "\f105"; }
.flaticon-car-1:before { content: "\f106"; }
.flaticon-car-2:before { content: "\f107"; }
.flaticon-check-form:before { content: "\f108"; }
.flaticon-cloud-computing:before { content: "\f109"; }
.flaticon-coin:before { content: "\f10a"; }
.flaticon-coins:before { content: "\f10b"; }
.flaticon-cutting-a-person-shape-in-two-parts-with-a-sword-passing-through-the-middle:before { content: "\f10c"; }
.flaticon-dashboard:before { content: "\f10d"; }
.flaticon-dollar-coins:before { content: "\f10e"; }
.flaticon-email:before { content: "\f10f"; }
.flaticon-facebook-1:before { content: "\f110"; }
.flaticon-facebook-2:before { content: "\f111"; }
.flaticon-flag:before { content: "\f112"; }
.flaticon-flag-1:before { content: "\f113"; }
.flaticon-gearshift:before { content: "\f114"; }
.flaticon-give-money:before { content: "\f115"; }
.flaticon-help-button-speech-bubble-with-question-mark:before { content: "\f116"; }
.flaticon-home:before { content: "\f117"; }
.flaticon-home-interface:before { content: "\f118"; }
.flaticon-idea:before { content: "\f119"; }
.flaticon-info:before { content: "\f11a"; }
.flaticon-internet:before { content: "\f11b"; }
.flaticon-internet-1:before { content: "\f11c"; }
.flaticon-key:before { content: "\f11d"; }
.flaticon-key-1:before { content: "\f11e"; }
.flaticon-linkedin:before { content: "\f11f"; }
.flaticon-list:before { content: "\f120"; }
.flaticon-list-of-works:before { content: "\f121"; }
.flaticon-log-out:before { content: "\f122"; }
.flaticon-magnifying-glass:before { content: "\f123"; }
.flaticon-mail:before { content: "\f124"; }
.flaticon-map:before { content: "\f125"; }
.flaticon-menu:before { content: "\f126"; }
.flaticon-message:before { content: "\f127"; }
.flaticon-money-bag-with-dollar-symbol:before { content: "\f128"; }
.flaticon-motor:before { content: "\f129"; }
.flaticon-multimedia:before { content: "\f12a"; }
.flaticon-multimedia-1:before { content: "\f12b"; }
.flaticon-note:before { content: "\f12c"; }
.flaticon-notebook:before { content: "\f12d"; }
.flaticon-payment-method:before { content: "\f12e"; }
.flaticon-pencil-and-paper:before { content: "\f12f"; }
.flaticon-phone-call:before { content: "\f130"; }
.flaticon-piston:before { content: "\f131"; }
.flaticon-placeholder-1:before { content: "\f132"; }
.flaticon-placeholders:before { content: "\f133"; }
.flaticon-power-button:before { content: "\f134"; }
.flaticon-push-pin:before { content: "\f135"; }
.flaticon-question:before { content: "\f136"; }
.flaticon-search:before { content: "\f137"; }
.flaticon-sedan-car-model:before { content: "\f138"; }
.flaticon-settings:before { content: "\f139"; }
.flaticon-share:before { content: "\f13a"; }
.flaticon-shopping-cart:before { content: "\f13b"; }
.flaticon-sitemap:before { content: "\f13c"; }
.flaticon-skyline:before { content: "\f13d"; }
.flaticon-speaker:before { content: "\f13e"; }
.flaticon-star:before { content: "\f13f"; }
.flaticon-steering-wheel:before { content: "\f140"; }
.flaticon-success:before { content: "\f141"; }
.flaticon-tire:before { content: "\f142"; }
.flaticon-tool:before { content: "\f143"; }
.flaticon-tool-1:before { content: "\f144"; }
.flaticon-transport:before { content: "\f145"; }
.flaticon-transport-2:before { content: "\f146"; }
.flaticon-truck-with-hook-lift:before { content: "\f147"; }
.flaticon-twitter:before { content: "\f148"; }
.flaticon-twitter-1:before { content: "\f149"; }
.flaticon-twitter-logo:before { content: "\f14a"; }
.flaticon-upload:before { content: "\f14b"; }
.flaticon-user:before { content: "\f14c"; }
.flaticon-users:before { content: "\f14d"; }
.flaticon-vehicle:before { content: "\f14e"; }
.flaticon-vehicle-2:before { content: "\f14f"; }
.flaticon-website:before { content: "\f150"; }
    
    $font-Flaticon-alarm-clock: "\f100";
    $font-Flaticon-avatar: "\f101";
    $font-Flaticon-battery: "\f102";
    $font-Flaticon-blog: "\f103";
    $font-Flaticon-calendar: "\f104";
    $font-Flaticon-capitol: "\f105";
    $font-Flaticon-car-1: "\f106";
    $font-Flaticon-car-2: "\f107";
    $font-Flaticon-check-form: "\f108";
    $font-Flaticon-cloud-computing: "\f109";
    $font-Flaticon-coin: "\f10a";
    $font-Flaticon-coins: "\f10b";
    $font-Flaticon-cutting-a-person-shape-in-two-parts-with-a-sword-passing-through-the-middle: "\f10c";
    $font-Flaticon-dashboard: "\f10d";
    $font-Flaticon-dollar-coins: "\f10e";
    $font-Flaticon-email: "\f10f";
    $font-Flaticon-facebook-1: "\f110";
    $font-Flaticon-facebook-2: "\f111";
    $font-Flaticon-flag: "\f112";
    $font-Flaticon-flag-1: "\f113";
    $font-Flaticon-gearshift: "\f114";
    $font-Flaticon-give-money: "\f115";
    $font-Flaticon-help-button-speech-bubble-with-question-mark: "\f116";
    $font-Flaticon-home: "\f117";
    $font-Flaticon-home-interface: "\f118";
    $font-Flaticon-idea: "\f119";
    $font-Flaticon-info: "\f11a";
    $font-Flaticon-internet: "\f11b";
    $font-Flaticon-internet-1: "\f11c";
    $font-Flaticon-key: "\f11d";
    $font-Flaticon-key-1: "\f11e";
    $font-Flaticon-linkedin: "\f11f";
    $font-Flaticon-list: "\f120";
    $font-Flaticon-list-of-works: "\f121";
    $font-Flaticon-log-out: "\f122";
    $font-Flaticon-magnifying-glass: "\f123";
    $font-Flaticon-mail: "\f124";
    $font-Flaticon-map: "\f125";
    $font-Flaticon-menu: "\f126";
    $font-Flaticon-message: "\f127";
    $font-Flaticon-money-bag-with-dollar-symbol: "\f128";
    $font-Flaticon-motor: "\f129";
    $font-Flaticon-multimedia: "\f12a";
    $font-Flaticon-multimedia-1: "\f12b";
    $font-Flaticon-note: "\f12c";
    $font-Flaticon-notebook: "\f12d";
    $font-Flaticon-payment-method: "\f12e";
    $font-Flaticon-pencil-and-paper: "\f12f";
    $font-Flaticon-phone-call: "\f130";
    $font-Flaticon-piston: "\f131";
    $font-Flaticon-placeholder-1: "\f132";
    $font-Flaticon-placeholders: "\f133";
    $font-Flaticon-power-button: "\f134";
    $font-Flaticon-push-pin: "\f135";
    $font-Flaticon-question: "\f136";
    $font-Flaticon-search: "\f137";
    $font-Flaticon-sedan-car-model: "\f138";
    $font-Flaticon-settings: "\f139";
    $font-Flaticon-share: "\f13a";
    $font-Flaticon-shopping-cart: "\f13b";
    $font-Flaticon-sitemap: "\f13c";
    $font-Flaticon-skyline: "\f13d";
    $font-Flaticon-speaker: "\f13e";
    $font-Flaticon-star: "\f13f";
    $font-Flaticon-steering-wheel: "\f140";
    $font-Flaticon-success: "\f141";
    $font-Flaticon-tire: "\f142";
    $font-Flaticon-tool: "\f143";
    $font-Flaticon-tool-1: "\f144";
    $font-Flaticon-transport: "\f145";
    $font-Flaticon-transport-2: "\f146";
    $font-Flaticon-truck-with-hook-lift: "\f147";
    $font-Flaticon-twitter: "\f148";
    $font-Flaticon-twitter-1: "\f149";
    $font-Flaticon-twitter-logo: "\f14a";
    $font-Flaticon-upload: "\f14b";
    $font-Flaticon-user: "\f14c";
    $font-Flaticon-users: "\f14d";
    $font-Flaticon-vehicle: "\f14e";
    $font-Flaticon-vehicle-2: "\f14f";
    $font-Flaticon-website: "\f150";